.App {
  box-sizing: border-box;
  position: relative;
}

.light {
  color: #231a35;
  background-color: #ffffff;
}
.light .login-container {
  background-image: url(assets/images/login-bg.png);
}
.light .header {
  background-color: #ffffff;
}

.dark {
  color: #ffffff;
  background-color: #231a35;
}
.dark .login-form {
  background: rgba(255, 255, 255, 0.2);
}
.dark .login-container {
  background-image: url(assets/images/login-bg-night.png);
}
.dark .button {
  background: #755ef5;
}
.dark .button:hover {
  background: #52459b;
}
.dark .login-input {
  color: #ffffff;
}
.dark .login-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.dark .remember-me .form-check-input:checked {
  background-color: #755ef5;
  border-color: #52459b;
}
.dark .header {
  border-color: rgba(255, 255, 255, 0.7);
  background-color: #231a35;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}
.dark .forecast-block {
  box-shadow: none;
}
.dark .forecast-block.today {
  background-color: #755ef5;
  background-image: linear-gradient(to bottom right, #755ef5 50%, rgba(82, 69, 155, 0.3) 50%);
}
.dark .forecast-block .forecast-header {
  border-bottom: none;
}
.dark .forecast-block .day {
  color: #755ef5;
}
.dark .forecast-block .date {
  color: rgba(255, 255, 255, 0.7);
}
.dark .forecast-block h3 {
  color: rgba(255, 255, 255, 0.7);
}
.dark .general-info-section .location h2 {
  color: #755ef5;
}
.dark .general-info-section .location h3 {
  color: rgba(255, 255, 255, 0.7);
}
.dark .loader-circle {
  border: 4px solid #755ef5;
}
.dark .loader-line {
  background-color: #755ef5;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-switch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: fit-content;
}
.theme-switch .switch {
  cursor: pointer;
  height: 40px;
  width: 70px;
  background-color: #57b6ff;
  background-image: url(assets/images/sun.png);
  border: 2px solid rgba(255, 238, 181, 0.8);
  box-shadow: 0 0 12px rgb(255, 238, 181);
  align-self: center;
}
.theme-switch .switch:checked {
  background-color: #231a35;
  background-image: url(assets/images/moon.png);
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 12px rgb(255, 255, 255);
}
.theme-switch .switch-label {
  margin-top: 5px;
  font-size: 0.8rem;
}

.login-container {
  width: 100vw;
  height: 100vh;
  background-position-x: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 300px;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.6);
}

.login-title {
  text-align: center;
}

.form-label {
  font-size: 0.9rem;
  margin-top: 5px;
}

.login-input {
  color: #231a35;
  background: none;
  border: 2px white solid;
}
.login-input::placeholder {
  color: rgba(35, 26, 53, 0.7);
}
.login-input:focus {
  background: none;
}

.remember-me {
  margin-top: 15px;
}
.remember-me .form-check-input {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  padding: 6px;
}
.remember-me .form-check-input:checked {
  background-color: #57b6ff;
  border-color: #0080e1;
}

.button {
  background: #57b6ff;
  border: none;
  transition: all 0.4s ease;
}
.button:hover {
  background: #0080e1;
}

.login-btn {
  align-self: center;
  width: 100%;
}

.dashboard-container {
  min-height: 100vh;
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2vw 6vw;
  align-items: center;
  border-bottom: 1px solid rgba(35, 26, 53, 0.7);
  position: sticky;
  top: 0;
}

.logo-section {
  display: flex;
  align-items: center;
  align-content: center;
}
.logo-section .logo-img {
  width: 40px;
  margin-right: 8px;
}

.header-title {
  margin: 0;
}

.dashboard-main {
  width: 100%;
  max-width: 100vw;
  padding: 4vw 6vw;
}

.forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
}

.forecast-block {
  width: 100%;
  background: linear-gradient(to top left, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.15) 50%);
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px rgba(35, 26, 53, 0.3);
  justify-content: space-between;
}
.forecast-block.today {
  background-color: #57b6ff;
  background-image: linear-gradient(to bottom right, #57b6ff 50%, rgba(0, 128, 225, 0.3) 50%);
}
.forecast-block.today .day {
  color: white;
}
.forecast-block h3 {
  font-size: 1.25rem;
  color: rgba(35, 26, 53, 0.7);
  margin-bottom: 0;
}
.forecast-block .forecast-header {
  border-bottom: 1px solid rgba(35, 26, 53, 0.3);
  padding: 12px;
  border-radius: 10px 10px 0 0;
  background: rgba(255, 255, 255, 0.1);
}
.forecast-block .forecast-subheader {
  display: flex;
  justify-content: space-between;
}
.forecast-block .forecast-info {
  padding: 12px;
}
.forecast-block .day-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.forecast-block .day {
  color: #57b6ff;
  margin-bottom: 0;
}
.forecast-block .date {
  font-size: 1rem;
  margin-bottom: 0;
}
.forecast-block .condition-icon {
  align-self: center;
}
.forecast-block .temperature, .forecast-block .astro {
  display: flex;
  justify-content: space-between;
}
.forecast-block .temperature > *, .forecast-block .astro > * {
  width: 50%;
  text-align: left;
}
.forecast-block .astro {
  margin: 0;
}

.general-info-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.general-info-section .location h2 {
  color: #57b6ff;
  font-size: 3rem;
  margin-bottom: 0;
}
.general-info-section .location h3 {
  color: rgba(35, 26, 53, 0.7);
  font-size: 1.5rem;
}
.general-info-section .time * {
  margin: 0;
  display: flex;
  gap: 0 10px;
  justify-content: space-between;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.loader-circle {
  width: 36px;
  height: 36px;
  border: 4px solid #57b6ff;
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 540px) {
  .header {
    padding: 10px 40px;
  }
  .dashboard-main {
    padding: 4vw;
  }
  .forecast-container {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    align-items: stretch;
    align-content: center;
    justify-content: space-between;
  }
  .forecast-block {
    flex-shrink: 1;
  }
}
@media screen and (min-width: 760px) {
  .forecast-container {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    align-items: stretch;
    align-content: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 950px) {
  .forecast-container {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    align-items: stretch;
    align-content: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .forecast-container {
    display: grid;
    grid-template-columns: repeat(5, 19%);
    align-items: stretch;
    align-content: center;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=App.css.map */
